@font-face {
    font-family: "digital_7_mono";
    src: url("digital_7_mono.ttf");
}
.lcdfont {
    font-family: "digital_7_mono";
}
body {
    margin: 0;
    padding: 0;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
#THEBOMB {
    position: relative;
    display: inline-block;
}
#bomb {
    width: 500px; /* Increase bomb size */
}
#explosion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* Adjust to match bomb size */
    pointer-events: none;
}    
#timerBG, #timer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: red;
    text-shadow: 0 0 2px red;
}
