@font-face {
    font-family: "digital_7_mono";
    src: url("digital_7_mono.ttf");
}
.lcdfont {
    font-family: "digital_7_mono";
}
body {
    margin: 0;
    padding: 0;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#THEBOMB {
    position: relative;
}    
#bomb {
    width: 200px;
}
#explosion {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}    
#timer {
    color: red;
    font-size: 40px;
    text-shadow: red 0 0 2px;
    margin-top: 10px;
}
#timerBG {
    color: #330000;
    font-size: 40px;
    margin-top: 10px;
}
